.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -moz-border-radius: .375rem;
  border-radius: .375rem;
  border: none !important;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.card:hover {
  transform: translateY(-3px)
}
.cardhead {
  border-radius: 5px 5px 0 0;
}
.imgCard {
  width: 100px;
}
.courseTitle {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}